.styleguide {
  background-color: rgb(224,224,224);
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  
}
header {
  background-color: #FFFFFF;
  width: 100%;
}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

/*h2*/

h2 {
    font: 2.4em/42px 'open sans';
    line-height: 1;
    text-align: left;
    color: white;
    margin: 0 auto;
    padding-top: 5px;
    
}
/*h3*/

h3 {
    font: 1.6em/23px 'open sans';
    line-height: 1;
    text-align: left;
    color: white;
    margin: 0 auto;
    
    
}

/*button*/
.btnBlue {
  background: rgb(47, 149, 200);
  color: #ffffff;
  padding: 5px 40px 5px 20px;
  font: 20px/1.6em 'open sans';
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  position: relative;
    
 }
 .btn {
  display: block;
  text-align: left;
  margin: 30px 0;
 }
.btnBlue:after {
  content: "\25BA";
  font-size: 0.6em;
  position: absolute;
  right: 10px;
 }


/*menu*/
.list {
  background-color: #FFFFFF ;
}
.list ul {
  display: inline-block;
  
  padding: 0;
  position: relative;
  font-size: 0.770em;
  text-transform: uppercase;
  width: 100%;
  
}

.nav:after {
  clear: both;
}

.nav > li {
  float: left;
  list-style: none;
  display: block;
  margin-bottom:-21px;
  
 }

ul > li {
  margin: 0;

}

.nav > li a {
  background: #FFFFFF;
  color:#565656;
  display: block;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 940px;
  box-sizing: border-box;
  text-align: left;
}

.nav > li > a {
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  display: block;
  text-align: left;
  width: 100%;

}

.nav > li > a:hover,
.nav > li > a:focus {
  background: #FCFCFC;
  color: #3399CC;
  box-shadow: -5px 9px 8px rgba(0,0,0,0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  width: 100%;
  
}

.nav > li > ul {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  background: #FCFCFC;
  top: 37px;
  left: 0;
  width: 940px;
  
}
.nav > li > ul > li {
  width: 940px;
}

.nav ul li {
  list-style: none;

}

.nav ul a {
  background: #FCFCFC;
  color: #585951;
  width: 100%;
  
}

.nav ul a:hover,
.nav ul a:focus {
  color: #3399CC;
}

.nav > li:hover > ul {
  display: block;
  width: 100%;
  margin-left: -185px;
  width: 940px;

}


/*courusel indicators*/
.carousel-indicators {
z-index: 5;
margin: 0;
list-style: none;
overflow: hidden;
padding: 15px 0 97px;
}
.carousel-indicators li {
background: #e5e5e5;
color: #e5e5e5;
font: 1em/11px Arial;
text-align: center;
float: left;
margin-left: 7px;
width: 11px;
height: 11px;
cursor: pointer;
border-radius: 3px;
}

/*boxes*/
.Box {
  width: 260px;
  height: 130px;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 3px 3px 0px grey;
  margin: 15px 0;
  display: inline-block;
  text-align: left;
  
}
.orange {
  background-color: rgba(255, 102, 0, 0.7);
}
.purple {
  background-color: rgba(255, 51, 154, 0.9);
}
.green {
  background-color: rgba(102, 204, 51, 0.9);
}

.Box:hover {
  background-color: #ff5400;
  opacity: 1;
  
}
.Box a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  vertical-align: middle;
}
.textBox {
  margin: 1.8em auto;

}
.textBox span {
  vertical-align: top;
  font-size: 18px;
}
.Box:hover span {
  text-decoration: underline;
}

p.heading {
  font: 20px 'open sans';
  overflow: hidden;
  margin: 5px auto;
  
}
p.secondary {
  font: 15px 'open sans';
  overflow: hidden;
  margin: 5px auto;
}

/*Big Icons*/

.banners li {
  width: 150px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 20px 0;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
}
.banners ul {
  padding-left: 0;

}
.banners:hover img {
  background-color: #3399CC;
}
/*Search box*/
.searchbox {
  width: 180px; 
  height: 2em;
  border: none;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 40px;


}

input[type="search"] {
  outline: none;
  width: 180px;
  height: 2em;
  border-radius: 5px;
  border: 1px solid #d2d2d2;

  
  
}

.searchbox input[type="submit"] {
  background: url("../img/searchBtn.png") no-repeat 50% 50%;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 2px;
  right: 0;
}

.searchbox .divider {
  background: url("../img/divider.png") no-repeat 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 2px;
  right: 13px;
}


/*Events*/
.events li {
  width: 280px;
  list-style: none;
}
.events h3 {
  color: white;
  font: 3.6em/24px 'open sans';
  padding: 0 0 5px 0;
  text-transform: uppercase;
  margin: 10px;

}
.calendar {
  background-color: rgba(256, 256, 256, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  padding: 10px 0 10px 10px;
  margin: 0 10px 10px 0;
  color: black;
  
}
.happenningWraper .text:hover {
  color: black;
  
}
.calendar:hover {
  background-color: rgba(256, 256, 256, 0.8);
}
.date {
  background-color: #3399CC;
  color: white;
  width: 69px;
  float: left;
  margin-right: 12px;
  text-align: center;
  border-radius: 3px;
}
.events .calendar p {
  color:#1a1a1a;
  font: 1.6em/20px 'open sans';
  text-decoration: none;
  text-transform: none;
}
.day {
 font: 3.2em/68px 'open sans';
 border-bottom: 1px dotted #fff;
 
}
.month {
  font: 1em/33px 'open sans';
  text-transform: uppercase;

}
.events li span {
  font-size: 1.8em;
  text-transform: none;
  text-decoration: none;
}
.ev:hover {
  color: #1a1a1a;
}

/*success stories*/

.successStories {
  position: relative;
  background: #ECECEC;
}
.h2Stories {
  display: block;
  margin: 20px 0 20px 0;
  color:#565656;
  text-transform: uppercase;
  text-align: center; 
}
.story {
  
  z-index:101;
  position: relative;
  background: white;
  height: 210px;
  overflow: hidden;
  transition: transform 0.75s;
  
}

.sucStory li {
  /*height: 208px;*/
  width: 340px;
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0px;
  overflow: hidden;
}
.sucStory li:last-child {
  margin-right: 0;
}

.story img{
  float: left;
  margin: 20px;
  clear: both;
}
.textStory:before, .textStory:after {
  content: url('../img/quote-grey.png');
  margin: 0px 5px 0px 5px;
}
.textStory {
  color: grey;
  font-size: 0.8em;
}

.line {
  display: block;
  /*padding-top: 10px;*/
  border-top: 1px solid lightgrey;
  margin: 60px 10px 20px 10px;
  /*margin-top: 40px;*/
}
.blueName {
  color: #3AA6DB;
  margin: 0 0 0 5px;
  font-size: 0.8em;
}
.jobDesc {
  color: grey;
  font-size: 0.6em;
  margin: 0 0 0 5px;
}
.smlIcon img {
  width: 70px;
  float: right;
  margin-top: -30px;
  clear: both;
}

.story:hover {
  transform:translateY(-210px);
}
.back {
  
  position:absolute;
  display: block;
  z-index:100;
  top:0;
  left:0;  
}
.backtextStory {
  height: 186px;
  width: 318px;
  background: #3AA6DB;
  color: white;
  margin-top: 80px;
  padding: 10px;
  margin-left: 2px;
  
}
.backtextStory:before, 
.backtextStory:after {
  content: url('../img/quote-blue.png');
  margin: 0px 5px 0px 5px;
}


.sucStory li:last-child {
  /*height: 208px;*/
  width: 230px;
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0px;
  
}
.sucStory li:last-child > a {
  width: 60px;
  margin-top: 25px;
  display: inline-block;
}
.storySmall {
  background: white;
  padding-left: 10px;
}
.storySmall .smlIcon img {
  margin-top: -60px;
}
.storySmall .smlIcon {
  line-height: 1.05em;
}

/*small icons*/
.icon {
  width: 105px;
  height: 92px;
  display: inline-block;
  margin: 5px 4px 0 0;
  /*background: white;*/
  overflow: hidden;
  position: relative;

}
.icon > img {
  position:relative;
  z-index:101;
  padding:0;
  width:105px;
  height:92px;
  transition: transform 0.75s
}
.icon:hover > img {
  transform:translateY(-102px);

} 
.smallhover {
  overflow:hidden;
  position:absolute;
  display: block;
  z-index:100;
  top:0;
  left:0;  
}
/*footer*/

footer {
  z-index: 1;
  background: url("../img/footerBG.png") repeat scroll center 0, 
  radial-gradient(ellipse at center, #ffffff 0%,transparent 100%);
  position: relative;
  display: inline-block;
  width: 100%;
}

.leftFooter, .rightFooter {
  display: inline-block;
}

.footer {
  padding: 0;
  display: inline-block;
}
.footer li {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  color: white;
  margin-bottom: 10px;
}
.footerMenu > a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 0.7em;

}
.footerRight {
  float: right;
  background-color: rgba(132, 132, 132, 0.3);
  border-right: 1px solid #212020;
  border-left: 1px solid #212020;
  padding: 27px 18px 0;
  width: 226px;
  height: 295px;
}
.bottomTM > li {
  display: inline-block;
  color: #969696;
  font-size: 0.7em;
  
}
.bottomTM {
  margin-bottom: 0;
}
.footerMenu > a:hover {
  text-decoration: underline;
}
.posts a p {
  text-decoration: none;
}
